/* Delivery */

.basket__delivery {
  background: #fff;
  padding: 16px 24px 24px;
  border-radius: 16px;
}

.delivery__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn__delivery_pink {
  color: #cb11ab;
  text-align: right;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.delivery__descriptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 24px;
}

.delivery__typography_subheader {
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: 153px;
}

.delivery__pickUpPoint {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.pickUpAddress__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pickUpAddress__schedule,
.listOfDeleliveries__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.delivery__cost,
.delivery__deliveryItem {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.delivery__listOfDeleliveries {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listOfDeleliveries__item {
  position: relative;
}

.listOfDeleliveries__item img {
  width: 40px;
  height: 56px;
}

.listOfDeleliveries__counter {
  position: absolute;
  right: -5px;
  top: -10px;
  color: #fff;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  background: #f55123;
  border-radius: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
}

/* Delivery refund */

.delivery__refund {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.delivery__refund .typography_green:hover ~ .tooltip {
  left: 150px;
  top: 30px;
}
