@font-face {
  font-family: Segoe UI;
  src: url('./assets/fonts/Segoe_UI/Segoe\ UI.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Segoe UI;
  src: url('./assets/fonts/Segoe_UI/Segoe\ UI\ Bold.ttf');
  font-weight: 700;
}

/* Common styles */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #6725a8;
}

svg {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: unset;
}

.textField_standard {
  border: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  min-width: 100px;

  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.textField_standard::placeholder {
  color: #a0a0a4;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.prevent-select {
  /* prevent selecting */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.usualTypography {
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Custom checkbox */
/* Customize the label (the checkboxContainer) */
.checkboxContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 22px;
  width: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition:
    border-color,
    background-color 0.2s;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  border-color: rgba(0, 0, 0, 0.4);
}

.checkboxContainer:hover input:checked ~ .checkmark {
  background-color: rgba(203, 17, 171, 0.8);
  border-color: rgba(203, 17, 171, 0.8);
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #cb11ab;
  border-color: #cb11ab;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 7px;
  top: 1px;
  width: 4px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* header styles */

.header {
  height: 88px;
  padding: 16px 3px 16px 24px;
  /* background-color: #6725A8; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn:hover,
button:hover {
  cursor: pointer;
}

.header__btn {
  height: 48px;
  margin-right: 16px;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__brandName {
  color: #fff;
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
  margin: 0;
  margin-right: 32px;
  white-space: nowrap;
}

.header__searchInputBox {
  height: 48px;
  width: 594px;
  padding: 0 20px;
  margin-right: 32px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__searchInput {
  height: 100%;
  width: 562px;
  margin-right: 8px;

  border-color: unset;
  border-width: 0;
  background: transparent;
  color: #fff;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header__searchInput::placeholder {
  color: #fff;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 40px;
  margin-right: 17px;
}

.header__searchInput:focus {
  border-color: unset;
  outline: unset;
  border-width: 0;
}

.header__navBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.header__profileText,
.header__basketText {
  color: #fff;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.header__basket {
  position: relative;
}

.header__basketCounter {
  display: none;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0 2px;
  position: absolute;
  top: -2px;
  right: 0;
  border-radius: 50px;
  background: #f55123;
  color: #fff;
  text-align: center;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.header__searchBtn {
  display: none;
}

/* main block styles */

.goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #f6f6fa;
  padding: 24px;
  gap: 32px;
}

/* aside panel styles */

.aside {
  width: 300px;
  /* position: absolute;
  right: 24px;
  top: 22px; */
  height: fit-content;
  padding: 16px 24px 24px 24px;
  box-shadow:
    0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__usualTypography_header {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.aside__usualTypography_headerSmall {
  font-size: 16px;
  line-height: 24px;
}

.aside__usualTypography_small {
  font-size: 13px;
  line-height: 16px;
}

.aside__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.aside__orderInfo,
.aside__deliveryHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aside__deliveryHeader {
  margin-bottom: 4px;
}

.aside__basketInfo {
  width: 100%;
  margin-bottom: 24px;
}

.aside__delivery {
  width: 100%;
  margin-bottom: 14px;
}

.usualTypography_pink {
  color: #cb11ab;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
  width: fit-content;
}

.aside__refund {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 12px 8px;
  gap: 8px;
  background: #f6f6fa;
  border-radius: 8px;
  margin-bottom: 24px;
}

.aside__usualTypography_green {
  color: #0cb477;
}

.aside__payment {
  width: 100%;
}

.aside__paymentHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.aside__paymentInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.aside__paymentAdditional {
  display: flex;
  padding: 8px 8px 12px 8px;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  background: #f6f6fa;
}

.aside__paymentAdditionalForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.aside__paymentAdditionalLabel:hover {
  cursor: pointer;
}

.aside__submitBtn {
  margin-top: 24px;
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #cb11ab;
  border-radius: 8px;
  color: #fff;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.aside__agreement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.aside__agreementLink {
  text-decoration: unset;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* basket */

.goods__leftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100% - 350px);
}

.basket__headerTypography {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-bottom: 24.5px;
}

.basket__checkboxContainer {
  flex-direction: row;
  margin-right: 8px;
}

.basket__goodsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket__img {
  width: 72px;
  height: 96px;
  margin-right: 16px;
}

.basket__typography_big {
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.basket__typography_small {
  color: #000;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.basket__typography_grey {
  color: #a0a0a4;
}

.basket__typography_discount {
  color: #a0a0a4;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-bottom: 1px dashed #a0a0a4;
  width: fit-content;
  margin-left: auto;
  text-decoration: line-through;
}

.basket__box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 397px;
}

.basket__box1_mobile,
.basket__box2_mobile {
  display: none;
}

.basket__box2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.basket__typography_red {
  color: #ff3b30;
}

.basket__typography_bold {
  color: #000;
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-left: auto;
  width: fit-content;
}

.basket__typography_boldSmall {
  font-size: 16px;
}

.basket__description {
  display: flex;
  flex-direction: column;
}

.basket__descriptionSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.basket__price {
  width: 110px;
}

.basket__goodsName {
  margin-bottom: 8px;
  width: 275px;
}

.basket__stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.basket__goodsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
}

.basket__goodsItem_moble {
  display: none;
  padding-top: 12px;
}

.basket__checkboxAndImg {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.flexEnd {
  justify-content: flex-end;
}

.basket__additionalBtns .btn path {
  transition: fill 0.2s;
}

.basket__additionalBtns .btn:hover path {
  fill: #f55123;
}

/* unavailiableBasket */

.unavailiableBasketTypography {
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.unavailiableBasket .checkboxContainer {
  display: none;
}

.unavailiableBasket .accordionHeader {
  justify-content: space-between;
}

.unavailiableBasket .basket__img {
  filter: grayscale(100%);
}

.unavailiableBasket .basket__goodsName,
.unavailiableBasket .basket__typography_small {
  color: #a0a0a4;
}

.unavailiableBasket .basket__typography_grey,
.unavailiableBasket .basket__stock,
.unavailiableBasket .basket__typography_red,
.unavailiableBasket .basket__changeAmountBtns {
  display: none;
}

.unavailiableBasket .basket__price {
  visibility: hidden;
}

.unavailiableBasket .basket__box1 {
  align-items: flex-start;
}

/* Accordion */

.accordionHeader {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* basket btns */

.basket__btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
}

.basket__changeAmountBtns {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  height: 44px;
  border-radius: 7px;
  background: #fff;
}

.basket__additionalBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

/* Delivery */

.basket__delivery {
  background: #fff;
  padding: 16px 24px 24px;
  border-radius: 16px;
}

.delivery__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn__delivery_pink {
  color: #cb11ab;
  text-align: right;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.delivery__descriptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0 24px;
}

.delivery__typography_subheader {
  color: #000;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  width: 153px;
}

.delivery__pickUpPoint {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.pickUpAddress__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pickUpAddress__schedule,
.listOfDeleliveries__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.delivery__cost,
.delivery__deliveryItem {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.delivery__listOfDeleliveries {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listOfDeleliveries__item {
  position: relative;
}

.listOfDeleliveries__counter {
  position: absolute;
  right: -5px;
  top: -10px;
  color: #fff;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  background: #f55123;
  border-radius: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
}

/* Delivery refund */

.delivery__refund {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.typography_green {
  color: #0cb477;
}

/* payment */

.payment,
.customer {
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
}

.payment__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.payment__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  margin-bottom: 8px;
}

/* Customer */

.customer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.customer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.customer__fio,
.customer__additionInfo {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.customer__fio .textField_standard,
.customer__additionInfo .textField_standard {
  flex-grow: 1;
}

.textField__customerInn {
  position: relative;
}

.textField__customerInn::after {
  content: 'Для таможенного оформления';
  color: #000;
  font-family: Segoe UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  left: 3px;
  bottom: -15px;
}

/* Footer */

footer {
  padding: 24px;
  background: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__typography {
  color: rgba(255, 255, 255, 0.7);
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* Media */

@media screen and (min-width: 1440px) {
  .header__searchInputBox {
    width: 970px;
  }
  .header__searchInput {
    width: 898px;
  }
  .header__nav {
    gap: 50px;
  }
  .aside {
    width: 449px;
  }
}

@media (max-width: 1000px) {
  html {
    overflow-x: hidden;
  }
  .header {
    padding: 11px 13px;
    justify-content: space-between;
    height: 56px;
  }
  .header__btn {
    border: unset;
    padding: 0;
  }
  br {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__brandName {
    margin-right: 16px;
    position: relative;
    bottom: 7px;
  }
  .header__searchInputBox {
    display: none;
  }
  .header__searchBtn {
    display: block;
  }
  .goods {
    flex-direction: column;
  }
  .goods__leftSide {
    width: 100%;
  }

  .basket__goodsItem_moble {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .basket__goodsItem {
    display: none;
  }

  .basket__checkboxAndImg {
    position: relative;
  }
  .basket__checkboxContainer {
    position: absolute;
    left: 4px;
    top: 4px;
  }
  .basket__goodsItem {
    flex-direction: column;
  }
  .basket__price {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: baseline;
    gap: 5px;
  }
  .basket__itemSize {
    position: absolute;
    left: 4px;
    bottom: 4px;
    background: #fff;
    min-width: 22px;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    border-radius: 6px;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .basket__typography_bold {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .basket__typography_big {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .basket__box1 {
    width: auto;
    align-items: flex-start;
  }

  .basket__btns {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
  }
  .basket__changeAmountBtns {
    width: 80px;
  }
  .basket__img {
    width: 80px;
    height: 106px;
  }
  .basket__goodsName {
    width: 190px;
    max-height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .basket__goodsItem_moble .basket__goodsName {
    font-size: 14px;
    line-height: 20px;
  }
  .unavailiableBasket .basket__price {
    display: none;
  }
  .unavailiableBasket .basket__btns {
    flex-direction: row-reverse;
  }
  .basket__delivery,
  .payment,
  .customer,
  .aside {
    width: calc(100% + 48px);
    transform: translateX(-24px);
  }
  .aside {
    box-shadow: unset;
    border-radius: unset;
    background: unset;
    padding: 16px 24px;
  }
  .aside__refund,
  .aside__paymentAdditional {
    background: #f0ecf4;
  }
  .aside__delivery,
  .aside__paymentHeader,
  .aside__paymentInfo {
    display: none;
  }
  .aside__basketInfo,
  .aside__refund {
    margin-bottom: 16px;
  }
  .aside__usualTypography_header {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  .delivery__header {
    align-items: baseline;
  }
  .delivery__pickUpPoint {
    flex-direction: column;
    gap: unset;
  }
  .delivery__descriptions {
    padding-top: 8px;
  }
  .basket__typography_big {
    font-size: 16px;
    line-height: 24px;
  }
  .pickUpAddress__schedule {
    margin-top: 4px;
  }
  .delivery__cost {
    flex-direction: column;
    gap: unset;
  }
  .delivery__deliveryItem {
    flex-direction: column;
    gap: 12px;
  }
  .payment__header {
    align-items: baseline;
  }
  .customer__fio,
  .customer__additionInfo {
    flex-direction: column;
    gap: 16px;
  }
  #customerInn {
    width: 100%;
  }
}
